@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.detalhes-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalhes-double-bounce1,
.detalhes-double-bounce2,
.detalhes-double-bounce3 {
  width: 10px;
  height: 10%;
  background-color: #333;
  border-radius: 50%;
  animation: detalhes-bounce 2.0s infinite ease-in-out;
}

.detalhes-double-bounce2 {
  animation-delay: -1.0s;
}

.detalhes-double-bounce3 {
  animation-delay: -0.5s;
}

@keyframes detalhes-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.detalhes-section {
  margin-top: 4%;
}

.detalhes-imovel-titulo {
  font-weight: bold;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.detalhes-content-container {
  margin: 0 auto;
  width: 80%;
}

.detalhes-image-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.detalhes-large-image-container {
  flex: 1;
}

.detalhes-large-image {
  width: 50%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: left;
}

.detalhes-small-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.detalhes-small-image-row {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.detalhes-small-image {
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.detalhes-faded-image-container {
  position: relative;
  cursor: pointer;
}

.detalhes-faded-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.detalhes-faded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detalhes-faded-image:hover {
  opacity: 0.5;
}

.detalhes-more-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  padding: 6px 17px;
}

.detalhes-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.detalhes-titulo-sobre-imovel h3 {
  margin-top: 2%;
}

.detalhes-sobre-imovel {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.detalhes-icone-wrapper {
  width: 23%;
  margin-right: 10%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.detalhes-text-content {
  flex: 1;
}

.detalhes-sobre-imovel p {
  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.detalhes-sobre-imovel hr {
  height: 40px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  opacity: 0.5;
}

.detalhes-icon-area,
.detalhes-icon-terreno,
.detalhes-icon-bed,
.detalhes-icon-bathroom,
.detalhes-icon-garage {
  margin-right: 10px;
  width: 30px;
  height: auto;
}

.detalhes-text-content b,
.detalhes-text-content p {
  margin: 0;
}

.detalhes-sobre-imovel img {
  margin-right: 20px;
  width: 30px;
}

.detalhes-sobre-imovel img {
  margin-left: 5px;
}

.detalhes-descricaoImovel {
  margin-top: 2%;
  margin-bottom: 50px;
}

.detalhes-descricaoImovel p {
  width: 60%;
}

.detalhes-about {
  margin-top: 10px;
}

.detalhes-detalhesImovel {
  column-count: 2;
  column-gap: 20px;
  width: 60%;
  margin-top: 15px;
}

.detalhes-detalhesImovel li {
  margin-bottom: 10px;
}

.detalhes-conditionsPayment {
  width: 60%;
  margin-bottom: 30px;
}

.detalhes-payments {
  column-count: 2;
  column-gap: 20px;
  margin-top: 10px;
}

.detalhes-payments li {
  margin-bottom: 10px;
}

.detalhes-labelPayment {
  font-weight: 500;
  white-space: nowrap;
}

.detalhes-contato {
  font-family: "Fredoka", sans-serif;
  padding-block: var(--section-padding);
  background: color #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25%;
  margin-left: 40%;
}

.detalhes-contato .detalhes-section-title {
  margin-bottom: 15px;
  font-weight: 400;
  font-family: var(--ff-fredokaOne);
  color: var(--primary-dark);
  font-size: var(--fs-1);
}

.detalhes-contato .detalhes-section-text {
  margin-bottom: 30px;
  margin-top: 1%;
}

.detalhes-contato-form {
  margin-bottom: 50px;
}

.detalhes-input-wrapper {
  margin-bottom: 20px;
}

.detalhes-contato label {
  color: var(--independence);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
  color: black;
}

.detalhes-contato .detalhes-input-field {
  background: transparent;
  color: var(--independence);
  font-size: var(--fs-7);
  padding: 10px 15px;
  border: 1px solid hsla(244, 17%, 67%, 0.3);
  border-radius: 4px;
}

.detalhes-contato .detalhes-input-field:focus {
  outline: none;
  background: var(--ghost-white-2);
}

.detalhes-contato .detalhes-input-field::placeholder {
  color: var(--cool-gray);
}

textarea.detalhes-input-field {
  margin-bottom: 20px;
  resize: vertical;
  min-height: 50px;
  height: 100px;
  max-height: 200px;
}

.detalhes-contato .detalhes-btn-primary {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detalhes-contato .detalhes-btn-primary:hover {
  background-color: red;
}

.detalhes-contato .detalhes-btn-primary ion-icon {
  --ionicon-stroke-width: 40px;
}

.detalhes-contato-list li:not(:last-child) {
  margin-bottom: 25px;
}

.detalhes-contato-link {
  color: var(--cool-gray);
  font-weight: var(--fw-500);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.detalhes-contato-link ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 30px;
}

.detalhes-contato-link :is(span, address) {
  width: calc(100% - 25px);
}

.detalhes-contato-link address {
  font-style: normal;
}

.detalhes-modal-imagensImoveis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.900);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.detalhes-modal-imagensImoveis img.detalhes-modal-image {
  width: auto;
  height: auto;
  max-width: 68%;
  max-height: 90%;
  border-radius: 30px;
  margin-right: 45px;
}

.detalhes-nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 250%;
  margin: 1%;
  z-index: 1;
  color: white;
}

.detalhes-prev-button {
  left: 10px;
}

.detalhes-next-button {
  right: 200px;
}

.detalhes-thumbnails-container {
  position: fixed;
  top: 5%;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.detalhes-thumbnail {
  width: auto;
  height: 13%;
  margin-bottom: 20px;
  margin-right: 60px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 30px;
}

.detalhes-thumbnail:hover,
.detalhes-thumbnail:focus {
  opacity: 1;
}

.detalhes-active-thumbnail {
  border: 2px solid white;
  opacity: 1;
}

.detalhes-close-button {
  position: absolute;
  top: 3%;
  right: 3%;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.detalhes-close-button::before,
.detalhes-close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.detalhes-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.detalhes-text-and-info-container {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.detalhes-bloco-informacoes {
  padding: 20px;
  width: auto;
  height: 250px;
  max-width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4c2c2;
}

.detalhes-informacao {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detalhes-label {
  font-size: var(--fs-5);
  margin-right: 10px;
  width: 100px;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  color: #000;
}

.detalhes-valor {
  font-weight: normal;
  font-size: var(--fs-6);
  text-align: right;
  color: #000;
}

.detalhes-bloco-informacoes hr {
  border: 0;
  border-top: 1px solid #5e5e5e;
  margin: 20px 0;
  width: 100%;
}

.detalhes-total-label {
  font-weight: bold;
  font-size: 17px;
}

.detalhes-total-valor {
  font-weight: bold;
  font-size: 18px;
}

.detalhes-contact {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 5px;
}

.detalhes-whatsappImg {
  width: 220px;
  height: auto;
}

.detalhes-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalhes-location-info {
  text-align: center;
  margin-bottom: 10px;
}

.detalhes-location-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detalhes-location-address {
  font-size: 16px;
  margin-bottom: 3px;
}

.detalhes-mapa {
  height: auto;
  width: 100%;
}

.detalhes-no-scroll {
  overflow: hidden;
}

@media (max-width: 1700px) {
  .detalhes-section {
    margin-top: 6%;
  }

  .detalhes-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    padding: 4px 12px;
  }

  .detalhes-sobre-imovel {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .detalhes-icone-wrapper {
    width: 48%;
  }

  .detalhes-bloco-informacoes {
    height: 100%;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .detalhes-modal-imagensImoveis img.detalhes-modal-image {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 80%;
    border-radius: 30px;
    margin-right: 80px;
  }

  .detalhes-next-button {
    right: 10px;
  }
}

@media (max-width: 1000px) {
  .detalhes-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    padding: 4px 12px;
  }

  .detalhes-content-container {
    margin-top: 10%;
  }

  .detalhes-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .detalhes-large-image {
    width: 100%;
  }

  .detalhes-small-image-row {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .detalhes-small-image {
    width: 50%;
    height: auto;
  }

  .detalhes-faded-image {
    width: 100%;
  }

  .detalhes-icone-wrapper {
    width: 48%;
  }

  .detalhes-text-and-info-container {
    margin-top: 5%;
  }

  .detalhes-thumbnails-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80%;
    width: 100%;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px;
    z-index: 1000;
  }

  .detalhes-thumbnail {
    width: 55px;
    height: 60px;
    margin-bottom: -50px;
    border-radius: 12px;
    margin-right: 0;
    object-fit: cover;
    flex-shrink: 0;
  }

  .detalhes-modal-imagensImoveis img.detalhes-modal-image {
    max-width: 85%;
    max-height: 85%;
    margin-right: 0px;
    margin-bottom: 70px;
  }

  .detalhes-nav-button {
    display: none;
  }

  .detalhes-close-button {
    transform: scale(120%);
    right: 7%;
    top: 4%;
  }

  .detalhes-detalhesImovel {
    column-count: 1;
  }

  .detalhes-payments {
    column-count: 1;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .detalhes-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    padding: 4px 12px;
  }

  .detalhes-content-container {
    margin-top: 15%;
    padding: 0 10px;
  }

  .detalhes-icone-wrapper {
    width: 48%;
  }

  .detalhes-content-container {
    flex-direction: column;
    width: 100%;
  }

  .detalhes-text-container {
    width: 100%;
  }

  .detalhes-text-and-info-container {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
  }

  .detalhes-bloco-informacoes {
    width: 55%;
    height: 55%;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .detalhes-maps {
    margin-top: 5%;
    width: 100%;
  }

  .detalhes-mapa {
    width: 100%;
  }

  .detalhes-descricaoImovel p {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .detalhes-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 10px;
    color: #000;
    cursor: pointer;
    padding: 3.5px 11px;
  }

  .detalhes-bloco-informacoes {
    width: 70%;
    height: 70%;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 65%;
  }

  .detalhes-sobre-imovel hr {
    height: 40px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    opacity: 0.5;
  }

  .detalhes-about,
  .detalhes-detalhesImovel,
  .detalhes-conditionsPayment {
    width: 100%;
    white-space: normal;
  }
}

@media (max-width: 400px) {
  .detalhes-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 10px;
    color: #000;
    cursor: pointer;
    padding: 3px 9px;
  }

  .detalhes-bloco-informacoes {
    width: 100%;
    height: 100%;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .detalhes-icon-area,
  .detalhes-icon-terreno,
  .detalhes-icon-bed,
  .detalhes-icon-bathroom,
  .detalhes-icon-garage {
    margin-right: 6px;
    width: 25px;
    height: auto;
  }

  .detalhes-icone-wrapper {
    width: 46%;
  }

  .detalhes-modal-imagensImoveis img.detalhes-modal-image {
    max-width: 95%;
    max-height: 95%;
    margin-right: 0px;
    margin-bottom: 70px;
  }
}

@media (max-width: 340px) {
  .detalhes-bloco-informacoes {
    width: 100%;
    height: 100%;
  }

  .detalhes-contact {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .detalhes-icone-wrapper {
    width: 50%;
  }
}