.imoveis-spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imoveis-double-bounce1,
.imoveis-double-bounce2,
.imoveis-double-bounce3 {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    animation: imoveis-bounce 2.0s infinite ease-in-out;
}

.imoveis-double-bounce2 {
    animation-delay: -1.0s;
}

.imoveis-double-bounce3 {
    animation-delay: -0.5s;
}

@keyframes imoveis-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.imoveis-content-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
}

.imoveis {
    padding: 70px 0 var(--section-padding);
}

.imoveis-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: space-between;
    align-items: start;
}

.imoveis-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: auto;
    transition: border 0.3s ease;
    border: 1.8px solid #ffffff00;
    cursor: pointer;
}

.imoveis-card:hover {
    border: 1.8px solid hsla(0, 0%, 0%, 0.781);
}

.imoveis-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.imoveis-card .imoveis-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imoveis-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.imoveis-info span {
    font-size: 80%;
    margin: 0;
    padding: 5px 10px;
    background-color: #e6e6e6;
    border-radius: 50px;
    line-height: 1;
}

.imoveis-card h2 {
    margin-top: 0;
    font-size: 1.25rem;
}

.imoveis-card p {
    margin: 0.5rem 0;
}

.imoveis-carrossel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.imoveis-carrossel img {
    width: 100%;
    display: none;
}

.imoveis-carrossel img.imoveis-active {
    display: block;
}

.imoveis-carrossel .imoveis-prev,
.imoveis-carrossel .imoveis-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    padding-bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imoveis-carrossel .imoveis-prev:hover,
.imoveis-carrossel .imoveis-next:hover {
    background-color: rgba(0, 0, 0, 0.700);
    color: white;
}

.imoveis-carrossel .imoveis-prev {
    left: 10px;
}

.imoveis-carrossel .imoveis-next {
    right: 10px;
}

.imoveis-carrossel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imoveis-carrossel-indicators .imoveis-indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(83, 83, 83, 0.678);
    border-radius: 50%;
    cursor: pointer;
}

.imoveis-carrossel-indicators .imoveis-indicator.imoveis-active {
    background-color: white;
}

.imoveis-card:hover .imoveis-carrossel .imoveis-prev,
.imoveis-card:hover .imoveis-carrossel .imoveis-next,
.imoveis-card:hover .imoveis-carrossel-indicators {
    visibility: visible;
    opacity: 1;
}

.imoveis-header-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Barra de Pesquisa */
.imoveis-search-container {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
}

.imoveis-header-search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.imoveis-search-results {
    position: absolute;
    top: calc(98%);
    margin-left: 15px;
    width: 46.5%;
    background-color: white;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imoveis-search-results div {
    padding: 10px;
    cursor: pointer;
}

.imoveis-search-results .imoveis-selectable-option:hover {
    background-color: #f1f1f1;
}

.imoveis-search-results strong {
    display: block;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    cursor: default;
}

.imoveis-search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-right: none;
    border-radius: 40px 0 0 40px;
    font-size: 13px;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
    outline: none;
}

.imoveis-search-bar:focus {
    border-color: #000;
}

.imoveis-search-button {
    width: 40px;
    height: 38px;
    background-color: #000;
    border: none;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: -1px;
    z-index: 0;
    outline: none;
}

.imoveis-search-button:hover {
    background-color: rgba(0, 0, 0, 0.850);
    transition: background-color 0.5s ease;
}

.imoveis-search-button img {
    width: 16px;
    height: 16px;
}

.imoveis-clear-button-container {
    width: 40px;
    height: 38px;
    border: none;
    cursor: pointer;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.imoveis-clear-button-container:hover {
    background-color: #00000018;
}

.imoveis-clear-button {
    border: none;
    background: none;
    color: black;
    margin-bottom: 3.5px;
}

.imoveis-selected-results button {
    float: right;
    margin-top: -30px;
}

.imoveis-filter-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    background-image: url('../imagens/filtroBranco.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 40px;
    margin-left: auto;
}

.imoveis-filter-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000;
    border-radius: 30px;
    background-image: url('../imagens/filtroPreto.png');
    background-size: 16px;
}

/* Ordenar */
.imoveis-dropbtn {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ffffff;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    cursor: pointer;
    background-image: url('../imagens/ordenar.png');
    background-color: none;
}

.imoveis-dropbtn:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition: background-color 0.2s ease;
}

.imoveis-orderDropdown {
    position: relative;
    display: inline-block;
}

.imoveis-orderDropdown-content {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.imoveis-orderDropdown-content button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.imoveis-orderDropdown-content button:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition: background-color 0.2s ease;
}

/* Filtros */
.imoveis-filter-panel {
    position: fixed;
    top: 0;
    right: -500px;
    width: 360px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
    overflow-y: auto;
}

.imoveis-filter-panel.imoveis-active {
    right: 0;
}

.imoveis-header-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.imoveis-filter-panel .imoveis-close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
}

.imoveis-filters {
    margin-top: 2%;
}

.imoveis-value-range {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.imoveis-value-range div {
    display: flex;
    flex-direction: column;
}

.imoveis-value-range label {
    font-size: 14px;
    margin-bottom: 5px;
}

.imoveis-value-range input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
}

.imoveis-filter-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.imoveis-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 1px solid #000;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.imoveis-checkbox:checked {
    background-color: #000;
    border-color: #000;
}

.imoveis-checkbox:checked::after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(45deg);
}

.imoveis-area-range {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.imoveis-area-range div {
    display: flex;
    flex-direction: column;
}

.imoveis-area-range label {
    font-size: 14px;
    margin-bottom: 5px;
}

.imoveis-area-range input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
}

.imoveis-filter-group {
    margin-bottom: 20px;
}

.imoveis-filter-group h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.imoveis-filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.imoveis-filter-option {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

.imoveis-filter-option.imoveis-selected {
    background-color: #000000;
    color: white;
    border-color: #000000;
}

.imoveis-filter-option:hover {
    background-color: black;
    color: white;
}

.imoveis-filter-actions {
    display: flex;
    justify-content: space-between;
}

.imoveis-filter-reset {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

.imoveis-filter-submit {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.imoveis-filter-submit:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000;
    border-radius: 30px;
}

.imoveis-no-scroll {
    overflow: hidden;
}

/* Estilizar os botões de paginação */
.imoveis-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imoveis-pagination .imoveis-custom-select {
    margin-right: 10px;
}

.imoveis-btn-pagination {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.imoveis-btn-pagination .imoveis-btn-navigation {
    background-color: black;
    color: white;
    padding-bottom: 2px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    font-size: 20px;
}

.imoveis-btn-pagination .imoveis-btn-navigation:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.imoveis-btn-pagination .imoveis-btn-navigation:hover {
    background-color: rgba(0, 0, 0, 0.850);
    transition: background-color 0.5s ease;
}

.imoveis-page-number {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
}

.imoveis-page-number:hover {
    background-color: rgba(0, 0, 0, 0.150);
    transition: background-color 0.5s ease;
}

#imoveis-currentPageIndicator {
    padding: 15px;
    font-size: 16px;
}

.imoveis-paginationDropdown-content {
    position: absolute;
    background-color: white;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.imoveis-paginationDropdown-content button {
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.imoveis-paginationDropdown-content button:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition: background-color 0.2s ease;
}

@media only screen and (max-width: 1360px) {
    .imoveis-cards {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next,
    .imoveis-carrossel-indicators {
        visibility: visible;
        opacity: 1;
    }

    .imoveis h1 {
        font-size: 130%;
    }

    .imoveis-search-results {
        width: 44%;
        height: auto;
    }
}

@media only screen and (max-width: 1174px) and (min-width: 1000px) {
    .imoveis-cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px;
    }

    .imoveis-card {
        width: auto;
        cursor: default;
    }

    .imoveis-carrossel img {
        width: 100%;
        height: 250px;
        display: none;
    }

    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next {
        cursor: default;
    }

    .imoveis h1 {
        font-size: 120%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 825px) {
    .imoveis-cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px;
    }

    .imoveis-card {
        width: auto;
        cursor: default;
    }

    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next {
        cursor: default;
    }

    .imoveis h1 {
        font-size: 100%;
    }

    .imoveis-search-results {
        width: 43.5%;
        height: auto;
    }
}

@media only screen and (max-width: 824px) {
    .imoveis-cards {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .imoveis-card,
    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next {
        cursor: default;
    }

    .imoveis h1 {
        font-size: 100%;
    }

    #imoveis-dropbtn {
        cursor: default;
    }

    .imoveis-search-results {
        width: 42%;
        height: auto;
    }
}

@media only screen and (max-width: 775px) and (min-width: 450px) {
    .imoveis-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .imoveis-card {
        width: 100%;
        margin: 0 auto;
        font-size: 19px;
    }

    .imoveis-carrossel img {
        width: 100%;
        height: 350px;
        display: none;
    }

    .imoveis-card,
    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next {
        cursor: default;
    }

    .imoveis-search-container {
        width: 100%;
    }

    .imoveis-filter-button,
    .imoveis-filter-button:hover {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 0;
        align-self: self-end;
        color: #00000000;
        cursor: default;
    }

    .imoveis h1 {
        font-size: 100%;
    }

    #imoveis-dropbtn {
        cursor: default;
    }

    .imoveis-search-results {
        width: 79%;
        height: auto;
    }
}

@media only screen and (max-width: 449px) {
    .imoveis-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .imoveis-card {
        width: 100%;
        margin: 0 auto;
    }

    .imoveis-card,
    .imoveis-carrossel .imoveis-prev,
    .imoveis-carrossel .imoveis-next {
        cursor: default;
    }

    .imoveis-search-container {
        width: 100%;
    }

    .imoveis-filter-button,
    .imoveis-filter-button:hover {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 0;
        align-self: self-end;
        color: #00000000;
        cursor: default;
    }

    .imoveis h1 {
        padding: 0;
        margin-top: 0;
    }

    #imoveis-dropbtn {
        color: #00000000;
        width: 0;
        height: 0;
        cursor: default;
    }

    .imoveis-header-filtros {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .imoveis-filter-panel {
        width: 100%;
        height: 100vh;
    }

    .imoveis-filter-options {
        transform: scale(0.950);
    }

    .imoveis-search-results {
        width: 65%;
        height: auto;
    }
}