.admin-layout body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    overflow: hidden;
}

.admin-layout header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.admin-layout .header-left {
    display: flex;
    align-items: center;
}

.admin-layout .header-left .header-logo {
    height: 30px;
    margin-left: 20px;
}

.admin-layout .header-right {
    display: flex;
    align-items: center;
}

.admin-layout .header-right a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.admin-layout .header-right a#preview-site {
    margin-right: 20px;
}

.admin-layout .user-info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-layout .user-info .user-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.admin-layout .user-info .icon-arrow {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.admin-layout .user-info .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    color: #000;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.admin-layout .user-info .dropdown-content.show {
    display: block;
}

.admin-layout .user-info .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.admin-layout .user-info .dropdown-content a:hover {
    background-color: #ddd;
}

.admin-layout .user-info .dropdown-content a img.dropdown-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.admin-layout .user-info .dropdown-content::before {
    content: none;
}

.admin-layout .user-info .dropdown-content {
    overflow: hidden;
    padding: 0;
}

.admin-layout .user-info .dropdown-content a {
    border-bottom: 1px solid #ddd;
}

.admin-layout .user-info .dropdown-content a:last-child {
    border-bottom: none;
}

.admin-layout .sidebar {
    width: 60px;
    height: 100%;
    background-color: #fff;
    padding-top: 60px;
    position: fixed;
    transition: width 0.3s ease;
    z-index: 2;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
}

.admin-layout .sidebar .nav-links {
    list-style: none;
    padding: 0;
}

.admin-layout .sidebar .nav-links li {
    width: 100%;
}

.admin-layout .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.admin-layout .sidebar .nav-links li a:hover,
.admin-layout .sidebar .nav-links li a.active {
    background-color: #cacaca;
}

.admin-layout .sidebar .nav-links .menu-item-icon {
    width: 24px;
    height: 24px;
}

.admin-layout .sidebar .nav-links .link-name {
    margin-left: 10px;
    display: none;
}

.admin-layout .main-content {
    margin-left: 60px;
    margin-top: 50px;
    flex: 1;
    background-color: #ffffff;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
}

.admin-layout .sidebar.open {
    width: 200px;
    border: 1px solid #ddd;
}

.admin-layout .sidebar.open .link-name {
    display: inline;
}

.admin-layout .main-content.open {
    margin-left: 200px;
}

@media (max-width: 768px) {
    .admin-layout .sidebar {
        width: 50px;
    }

    .admin-layout .sidebar.open {
        width: 160px;
    }

    .admin-layout .main-content {
        margin-left: 50px;
    }

    .admin-layout .main-content.open {
        margin-left: 160px;
    }

    .admin-layout .sidebar .nav-links .menu-item-icon {
        font-size: 20px;
    }

    .admin-layout .header-right a {
        margin-right: 10px;
    }
}

.admin-layout .menu-icon {
    width: 24px;
    height: 22px;
    cursor: pointer;
}