/*-----------------------------------*\
  #BASIC STYLES
\*-----------------------------------*/

:root {
    --raisin-black-2: hsl(245, 16%, 16%);
    --raisin-black-1: hsl(244, 17%, 19%);
    --ghost-white-2: hsl(228, 50%, 96%);
    --white-opacity: hsla(0, 0%, 100%, 0.5);
    --independence: hsl(245, 17%, 27%);
    --cool-gray: hsl(244, 17%, 61%);
    --white: hsl(0, 0%, 100%);

    --ff-fredoka: "Fredoka", sans-serif;
    --ff-fredokaOne: "Fredoka One", sans-serif;

    --fs-1: 25px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 15px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --transition: 0.25s ease;

    --section-padding: 40px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea {
    display: block;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input,
textarea {
    border: none;
    font: inherit;
    width: 100%;
}

html {
    font-family: var(--ff-fredoka);
    scroll-behavior: smooth;
}

body {
    background: var(--white);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    padding-inline: 15px;
}

.h1,
.h2,
.h3 {
    color: var(--independence);
    font-family: var(--ff-fredokaOne);
    line-height: 1.2;
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-3);
}

.btn {
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 15px 30px;
    border-radius: 4px;
    transition: var(--transition);
}

.btn:is(:hover, :focus) {
    transform: translateY(-2px);
}

.btn-primary {
    color: var(--white);
}

.btn-primary:is(:hover, :focus) {
    box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-outline:is(:hover, :focus) {
    color: var(--white);
    box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-secondary {
    background: hsla(245, 67%, 59%, 0.15);
}

.section-title {
    text-align: center;
}

.section-text {
    color: var(--cool-gray);
    font-size: var(--fs-6);
    line-height: 1.7;
    text-align: center;
}

/*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/

footer {
    width: 100%;
    background: var(--raisin-black-1);
    color: var(--white-opacity);
    font-weight: var(--fw-500);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.footer-top {
    padding-block: var(--section-padding);
}

.footer-brand {
    margin-bottom: 0px;
}

footer .logoFooter {
    margin-bottom: 10px;
    width: 270px;
    height: auto;
}

footer .logoFooter img {
    width: 50%;
}

.footer-text {
    font-size: var(--fs-6);
    line-height: 1.8;
    margin-bottom: 25px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.social-link {
    color: var(--white-opacity);
    font-size: 25px;
    transition: var(--transition);
}

.social-link:is(:hover, :focus) {
    color: var(--white);
}

.footer-bottom {
    background: var(--raisin-black-2);
    padding-block: 20px;
    text-align: center;
}

.copyright a {
    display: inline-block;
    color: var(--white-opacity);
    transition: var(--transition);
}

.copyright a:is(:hover, :focus) {
    color: var(--white);
}

@media (max-width: 768px) {
    .footer-top {
        padding-block: 40px;
    }

    footer .logoFooter {
        width: 155px;
    }

    footer .logoFooter img {
        width: 80%;
    }

    .footer-text {
        font-size: var(--fs-7);
    }

    .social-list {
        gap: 10px;
    }

    .social-link {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .footer-top {
        padding-block: 20px;
    }

    footer .logoFooter {
        width: 123px;
    }

    footer .logoFooter img {
        width: 100%;
    }

    .footer-text {
        font-size: var(--fs-7);
    }

    .social-list {
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
    }

    .social-link {
        font-size: 18px;
    }
}